.generalDiv {
    background-color: #ff0000;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  .align{
    position: absolute;
    left: 0;
  }
  .titleSenai {
    font-size: 1rem;
    color: #ffffff;
    margin-left: 1em;
  }
  
  .menu {
    position: absolute;
    top: 0;
    background-color: #e30613;
    color: #ffffff;
    width: 100%;
    text-align: right;
  }

  #senai{
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
  }
  
  #senai:hover {
    border-radius: 8px;
    background-color: rgb(200, 0, 0);
    transition: 0.2s ease-in-out;
  }
  .links {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
  }

  .links:hover {
    border-radius: 8px;
    background-color: rgb(200, 0, 0);
    transition: 0.2s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    .links {
      display: none;
    }
    #senai {
      font-size: 18px;
    }

  }