.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    width: 100%;
    max-width: 20vw;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
}

.close {
    color: white;
    background-color: #ff0000;
    border-radius: 5px;
    width: 3rem;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    text-align: center;
}

.close:hover {
    transition: 0.1s ease-in-out;
    scale: 1.1;
}

.close:active {
    box-shadow: inset -4px 4px 0 rgb(193, 1, 1);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position:static;
    padding-bottom: 2rem;
    gap: 1rem;
}

@media (max-width: 600px) {
    .modal {
        width: 95vw;
        height: 70vh;
        align-items: flex-start;
        justify-content: flex-start;
    } 
    
    .close {
        height: 3rem;
    }
    
}