.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80dvh;
    background-color: #f4f4f4;
    padding: 2rem;
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
}