.container {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
  
  .container svg {
    margin: 0 8px;
  }
  
  