.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #f5f5f5;
  padding: 5rem 2.5rem;
  gap: 2.5rem;
  color: #333;
}

.h1 {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.requestButton {
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonRequest {
  background: linear-gradient(135deg, #ff5722, #ff0000);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  border-radius: 6px;
  width: 25rem;
  height: 50px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.noRequestMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonRequest:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.buttonRequest:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter {
  display: flex;
  position: relative;
  margin-right: 3rem;
}

.dropdown {
  position: absolute;
  top: 27px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
}

.selectFilter {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.fullsize {
  flex: 1;
  min-height: 100vh;
}

.init {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 5%;
}

.errorTxtDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 5%;
}

.tooCards {
  display: flex;
}
.info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: #f5f5f5;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  color: #222;
  font-weight: bold;
  margin-bottom: 1rem;
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.imagex {
  border-radius: 20px;
}
.details {
  color: #666;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.status {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 60%;
}

.dateConclusion {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1rem;
}

.awaiting {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

.inProgress {
  background-color: #ff7700;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
}

.concluded {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.modalButtonConfirm {
  background: #ff4d4f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtonConfirm:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.modalButtonCancel {
  background: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtonCancel:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

.buttons {
  position: absolute;
  top: 3px;
  right: 7px;
}

.buttonr {
  background: linear-gradient(135deg, #3c3c3c, #000000);
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-left: 1rem;
}

.buttonr:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10x rgba(0, 0, 0, 0.3);
}

.buttonr:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(183, 183, 183, 0.2);
}

.buttonra {
  background: linear-gradient(1deg, #15e41c, #12cd19);
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.buttonra:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10x rgba(0, 0, 0, 0.3);
}

.buttonra:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(183, 183, 183, 0.2);
}

.buttonrc {
  background: linear-gradient(1deg, #fb5c00, #e35300);
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.buttonrc:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10x rgba(0, 0, 0, 0.3);
}

.buttonrc:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(183, 183, 183, 0.2);
}

.buttonsdelete {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.btnRemove {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: absolute;
  right: 0;
  bottom: -5rem;
}

.btnRemove:hover {
  transform: scale(1.1);
}
.btnRemovex {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btnRemovex:hover {
  transform: scale(1.1);
}

.exportButton {
  background: linear-gradient(135deg, #ff5722, #ff0000);  
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 3rem;
  border-radius: 8px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s; 
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.exportButton:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); 
  background: linear-gradient(135deg, #ff3d00, #ff0000);  
}

.exportButton:active {
  transform: translateY(0);  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}



/* Estilo responsivo */
@media screen and (max-width: 768px) {
  .filter {
    margin-right: 0;
  }

  .requestButton {
    width: 100%;
    margin-top: 5%;
  }

  .buttonRequest {
    width: 25rem;
  }

  .logo {
    display: none;
  }

  .requestCard {
    margin-top: 3rem;
  }

  .tooCards {
    flex-direction: column;
  }

  .requestCard {
    width: 100%;
    margin-top: 2rem;
  }

  .info {
    width: 100%;
    margin-top: 2rem;
  }

  .about {
    padding: 1rem;
  }

  .buttonRequest {
    width: 100%;
  }

  .buttonsdelete {
    margin-bottom: 2rem;
  }
  .noRequestMsg {
    align-items: center;
    width: 100%;
  }

  .exportButton {
    width: 40%; 
    height: 45px; 
    font-size: 16px; 
    margin-left: 1.5rem;
  }

  .status {
    width: 250%;
  }
}
