.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #f5f5f5;
  padding: 5rem 2.5rem;
  gap: 2.5rem;
  color: #333;
}

.h1 {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.requestButton {
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonRequest {
  background: linear-gradient(135deg, #ff5722, #ff0000);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  border-radius: 6px;
  width: 25rem;
  height: 50px;
  padding: 6px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s, box-shadow 0.2s;
}

.buttonRequest:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.buttonRequest:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter {
  display: flex;
  position: relative;
  margin-right: 3rem;
}

.dropdown {
  position: absolute;
  top: 27px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
}

.selectFilter {
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.fullsize {
  flex: 1;
  min-height: 100vh;
}

.init {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 5%;
}

.errorTxtDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-left: 5%;
}

/* Estilo responsivo */
@media screen and (max-width: 768px) {
  .filter {
    margin-right: 0;
  }

  .requestButton {
    width: 100%;
    margin-top: 5%;
  }

  .buttonRequest {
    width: 25rem;
  }

  .logo {
    display: none;
  }
}
