.sidebar {
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: transparent;
  margin-top: 1.5rem;
  width: 12rem;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: showHeader 0.5s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoff {
  border: none;
  padding: 1rem;
  width: 80%;
  border-radius: 12px;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
  color: black;
}

.logoff:hover {
  background-color: rgb(175, 175, 175);
  transition: 0.2s ease-in-out;
  scale: 1.1;
}

@keyframes showHeader {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar svg {
  position: fixed;
  color: white;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 32px;
  cursor: pointer;
}

@keyframes showSidebar {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 3.3rem;
    align-items: center;
  }
  .container svg {
    font-size: 20px;
    text-align: center;
  }
  .container:hover {
    color: #ffffff;
    background-color: #ce0000;
    width: 100%;
    margin-left: 0;
    margin-right: 0.5rem;
  }
  .container:hover svg {
    color: #d6d6d6;
  }

  .exit {
    display: flex;
  }
}
