.sidebar {
  width: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  transition: width 0.3s ease-in-out;
  background-color: #ff0000;
  position: fixed;
  top: 0px;
  left: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: transparent;
  margin-top: 1.5rem;
  width: 11rem;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: showHeader 0.5s forwards;
}

.logoff {
  border: none;
  padding: 1rem;
  width: 80%;
  border-radius: 12px;
  background-color: rgb(234, 234, 234);
  cursor: pointer;
  color: black;
}

.logoff:hover {
  background-color: rgb(175, 175, 175);
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

/* Animações */
@keyframes showHeader {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar svg {
  position: fixed;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.sidebar span {
  color: white;
  margin: 1rem 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar span {
    margin-left: 0;
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 0.5rem;
  }

  .container svg {
    font-size: 24px;
  }

  .container:hover {
    width: 100%;
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
