.container {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.theader {
    padding: 12px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #f4f4f4;
}

.trow {
    margin: 0;
}

.tdata {
    padding: 12px;
    border: 1px solid black;
}

