.sidebar {
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  
  .sidebar svg {
    position: fixed;
    color: white;
    margin-top: 32px;
    margin-left: 32px;
    cursor: pointer;
  }
  
  @keyframes showSidebar {
    from {
      opacity: 0;
      width: 0;
    }
    to {
      opacity: 1;
    }
  }
  